{% extends 'base.html.twig' %}

{% block title %}Empleado{% endblock %}

{% block body %}
    <h1>Empleado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ empleado.area }}</td>
            </tr>
            <tr>
                <th>FechaNacimiento</th>
                <td>{{ empleado.fechaNacimiento ? empleado.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ empleado.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FechaCreacion</th>
                <td>{{ empleado.fechaCreacion ? empleado.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaActualizacion</th>
                <td>{{ empleado.fechaActualizacion ? empleado.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UsuarioActualizo</th>
                <td>{{ empleado.usuarioActualizo }}</td>
            </tr>
            <tr>
                <th>NumeroEmpleado</th>
                <td>{{ empleado.numeroEmpleado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backend_recursos_humanos_empleado_index') }}">back to list</a>

    <a href="{{ path('backend_recursos_humanos_empleado_edit', {'id': empleado.id}) }}">edit</a>

    {{ include('backend/recursos_humanos/empleado/_delete_form.html.twig') }}
{% endblock %}
